:root{
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Source Sans 3', sans-serif;
}

html{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

html, body{
    position: relative;
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: var(--font-body);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    padding: 24px 0px 8px 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    z-index: 1000;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 24px;
    text-transform: capitalize;
}

nav a:hover{
    color: #faa307;
}

.search {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/background.png');
    background-repeat: repeat;
}

.search .hero-header{
    font-size: 5.6em;
    font-weight: 600;
    color: #212529;
    font-family: var(--font-heading);
}

.search .hero-header span{
    color: #faa307;
}

.search .hero-sub-heading{
    font-size: 2.4em;
    margin-bottom: 48px;
}

form {
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form button {
    display: inline-block;
    height: 100%;
    width: auto;
    background: none;
    outline: none;
}

form button i {
    display: inline-block;
    padding: 16px;
}

input {
    display: inline-block;
    padding: 16px;
    font-family: var(--font-body);
    font-size: 1.2em;
    width: 480px;
    border-left: 1px solid black;
    outline: none;
}

select,
option {
    display: inline-block;
    padding: 16px;
    font-family: var(--font-body);
    margin-right: 8px;
    text-transform: capitalize;
    outline: none;
    background-color: white;
}

select {
    font-size: 1.2em;
}

option:first-child {
    font-weight: bold;
}

.results, .featured, .random{
    /* padding: 10%; */
    /* padding: 48px 0px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
}

.hide{
    display: none;
}

.show{
    display: block;
    position: absolute;
    /* top: 0px; */
}

.featured{
    scroll-padding-top: 80px;
}

.dish{
    cursor: pointer;
    width: 320px;
    flex: 0 1 320px;
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: white;
}

.meal-name, .meal-thumbnail, .meal-origin, .meal-recipe, .meal-category{
    display: inline-block;
    width: 100%;
}

.dish :nth-child(2){
    margin-bottom: 8px;
}

.dish p:last-child{
    margin-top: 8px;
    margin-bottom: 24px;
}

.meal-name, .meal-origin, .meal-recipe, .meal-category{
    padding: 2px 24px;
}

.meal-thumbnail{
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 16px;
    border-bottom: 27, 31, 35, 0.15;

    transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: 1;
}

.dish:hover .meal-thumbnail{
    opacity: 0.9;
}

.meal-name{
    text-transform: capitalize;
    font-size: 1.2em;
    /* font-weight: bold; */
}

.meal-category{
    color: grey;
}

.meal-origin{
    color: #faa307;
}

.meal-recipe{
    color: grey;
    transition: color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.dish:hover .meal-recipe{
    color: #faa307;
}

.meal-recipe i{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    font-size: 0.8em;
    margin-left: 4px;
    line-height: 1.5;
}

.recipe-view{
    z-index: 10001;
    background-color: rgb(255, 255, 255, 0.85);
    backdrop-filter: blur(2px);
    height: 100vh;
    padding: 5vh 15vw;
}

.recipe-content{
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    background-color: white;
    
    display: flex;
    border-radius: 16px;
    flex-direction: row;box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.recipe-about{
    flex: 1 0 400px;
    position: sticky;
    top: 0px;
    text-align: center;
}

.recipe-about .recipe-thumbnail{
    width: 100%;
    border-radius: 16px 4px 16px 4px;
}

.recipe-name, .recipe-origin, .recipe-category, .recipe-tags{
    padding: 2px 24px;
    font-size: 1em;
}

.recipe-name{
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 24px;
    color: rgb(68, 68, 68);
    font-family: var(--font-heading);
}

.recipe-origin{
    color: #faa307;
}

.recipe-category{
    color: rgb(68, 68, 68);
}

.recipe-tags{
    margin: 12px 0px 24px 0px;
    color: rgb(68, 68, 68);
}

.recipe-tags .tag{
    color: rgb(68, 68, 68);
    padding: 0px 2px;
    font-size: 1em;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: dotted;
}

.recipe-directions{
    flex: 8 0 200px;
    padding: 24px 56px;
    text-align: center;
}

.recipe-heading{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #faa307;
}

.recipe-title{
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 24px 0px;
    color: rgb(68, 68, 68);
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #faa307;
    text-decoration-style: dotted;

    font-size: 1.4em;
    font-family: var(--font-heading);
}

.instructions-text{
    padding-bottom: 48px;
}

.section-title{
    text-align: center;
    padding: 48px;
    font-size: 3.2em;
    /* font-weight: bold; */
    font-family: var(--font-heading);
    color: #212529;
    text-transform: capitalize;
}