:root{
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Source Sans 3', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: var(--font-body);
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    padding: 24px 0px 8px 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding: 24px;
    text-transform: capitalize;
}

nav a:hover{
    color: #faa307;
}

.search {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../assets/background.png');
    background-repeat: repeat;
}

.search .hero-header{
    font-size: 5.6em;
    font-weight: 600;
    color: #212529;
    font-family: var(--font-heading);
}

.search .hero-header span{
    color: #faa307;
}

.search .hero-sub-heading{
    font-size: 2.4em;
    margin-bottom: 48px;
}

form {
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form button {
    display: inline-block;
    height: 100%;
    width: auto;
    background: none;
    outline: none;
}

form button i {
    display: inline-block;
    padding: 16px;
}

input {
    display: inline-block;
    padding: 16px;
    font-family: var(--font-body);
    font-size: 1.2em;
    width: 480px;
    border-left: 1px solid black;
    outline: none;
}

select,
option {
    display: inline-block;
    padding: 16px;
    font-family: var(--font-body);
    margin-right: 8px;
    text-transform: capitalize;
    outline: none;
    background-color: white;
}

select {
    font-size: 1.2em;
}

option:first-child {
    font-weight: bold;
}

.results{
    padding: 10%;
}